.container.mt-4
  h1 Коллективный блог

- if @posts.any?
  - @posts.each do |post|
    .card.mb-4
      .card-body
        h5.card-title = post.title
        p.card-text = truncate(post.body, length: 150)
        .d-flex.justify-content-between.align-items-center
            small.text-muted
              | Категория: #{post.category.name} |
              | Автор: #{post.creator.first_name} |
              | Создано: #{post.created_at.strftime('%d.%m.%Y')} |
              | Понравилось: #{post.likes.count}
          
            = link_to 'Читать', post, class: 'btn btn-outline-primary btn-sm'
- else
  .alert.alert-info
    h4 Сейчас постов нет!
    - if user_signed_in?
      p Будь первым кто напишет статью!
      = link_to 'Создать первую статью', new_post_path, class: 'btn btn-primary'
    - else
      p Зарегистрируйся чтобы написать свою первую статью!
