.card
  .card-body
    h1.card-title = @post.title
    p.card-text = simple_format(@post.body)
    .card-footer
      small.text-muted
        | Категория: #{@post.category.name} | 
        | Автор: #{@post.creator.first_name} | 
        | Создано: #{((Time.now - Post.first.created_at) / 60).to_i} минут назад

  
    - if user_signed_in? && current_user == @post.creator
      .card-body.mt-4
          = link_to 'Редактировать пост', edit_post_path(@post), class: 'btn btn-outline-secondary'
          = button_to "Удалить", 
                            post_path, 
                            data: { turbo_confirm: 'Вы уверены?' }, 
                            method: :delete, 
                            class: 'btn btn-outline-danger mt-1'

= link_to 'Назад', root_path, class: 'btn btn-outline-primary mt-3'

