h1.card-title = @post.title
p.card-text = simple_format(@post.body)

hr.mt-4
small.text-muted
  | Категория: #{@post.category.name} |
  | Автор: #{@post.creator.first_name} |
  | Создано: #{@post.created_at.strftime('%d.%m.%Y')}

= render 'posts/like_button', post: @post

- if user_signed_in? && current_user == @post.creator
  .mt-4
    = link_to 'Редактировать пост', edit_post_path(@post.id), class: 'btn btn-outline-secondary'

    = button_to 'Удалить',
                post_path(@post.id),
                data: { turbo_confirm: 'Вы уверены?' },
                method: :delete,
                class: 'btn btn-outline-danger mt-1'

.mt-5
  h3 Комментарии (#{@post.comments.count})
  - if user_signed_in?
    = simple_form_for @comment, url: post_comments_path(@post) do |f|
      = f.input :content, as: :text, label: false, placeholder: 'Ваш комментарий...'
      = f.input :parent_id, as: :hidden, input_html: { value: nil }
      = f.button :submit, 'Оставить комментарий', class: 'btn-primary mb-4'

  - @comments_tree.each do |comment_data|
    = render 'comments/comment',
             comment: comment_data[:comment],
             children: comment_data[:children]

= link_to 'Назад', root_path, class: 'btn btn-outline-primary mt-3'
